@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

body {
  background-color: #fafafa;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/*ポートフォリオ*/

/*header*/
header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  border-bottom: 2px solid #000;
}

.header_menu {
  padding: 30px 0 15px;
  border-width: 2px;
  border-color: black;
  border-bottom-style: solid;
}

.pc_nav ul {
  display: flex;
  justify-content: flex-end;
}

.pc_nav ul li {
  width: 105px;
  color: black;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}

.pc_nav ul li + li {
  margin-left: 55px;
}

/*共通*/
.section {
  max-width: 1000px;
  margin: 0 auto 120px;
  border: 5px solid black;
  border-radius: 35px;
  background-color: #fff;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  margin: -25px auto 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.heading--about {
  background-color: #db6949;
}

.heading--works {
  background-color: #e2c149;
}

.heading--contact {
  background-color: #59a1d0;
}

/*ファーストビュー*/
.fv img {
  width: 100%;
}

/*リード文*/
.lead {
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  margin: 145px 0;
}

/*ABOUT*/
.about_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.about_img {
  margin-right: 100px;
}

.about_name {
  font-size: 25px;
  margin-bottom: 50px;
}

.about_desk {
  font-size: 16px;
  line-height: 1.4;
}

.about_skill h3 {
  display: block;
  width: 80px;
  padding: 5px 10px;
  margin: 0 auto 50px;
  border-bottom: 2px solid #000;
  text-align: center;
}

.skill_box {
  max-width: 512px;
  margin: 0 auto;
}

.skill_box ul {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill_box ul li {
  width: 200px;
  margin-bottom: 60px;
}

.skill_box ul li :nth-child(odd) {
  margin-right: 110px;
}

.skill_box p {
  font-size: 14px;
  margin-top: 25px;
  text-align: center;
}

/*works*/

.works {
  padding: 0 40px;
  box-sizing: border-box;
}

.works_box {
  max-width: 960px;
  margin: 0 auto;
}

.works_box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.works_box ul li {
  width: calc(100% / 3);
  margin-bottom: 100px;
  text-align: center;
}

.works_box img {
  margin-top: 50px;
}

.works_box p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

/*contact*/

.contact_form {
  text-align: center;
  padding: 0 40px;
}

.contact_sentence {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.contact_sentence label span {
  font-size: 14px;
  color: #db6949;
  padding: 2px 0 3px 0;
}

.input_text {
  width: 100%;
  margin-top: 10px;
}

/*input[type="email"] {
  padding: 10px;
  width: 65%;
  color: #999;
  border: 1px solid #999;
}*/

textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  box-sizing: border-box;
}

button {
  background: #59a1d0;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 50px;
}

/*footer*/
.footer_copy {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 120px;
}

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  /*ハンバーガー*/
  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }

  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    position: absolute;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /*ハンバーガー閉じる*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /*ハンバーガーメニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

/*sp*/
.sp_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }

  .pc_only {
    display: none;
  }

  /*共通*/
  .heading {
    width: 155px;
    height: 35px;
    margin: -20px auto 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }

  /*リード文*/
  .lead {
    font-size: 20px;
    line-height: 1.8;
    margin: 100px 0;
  }

  /*ABOUT */
  .about_flex {
    display: block;
  }

  .about_img {
    width: 100%;
    text-align: center;
  }

  .about_profile {
    text-align: center;
  }

  .about_name {
    margin: 40px 0;
    font-size: 18px;
  }

  .about_skill h3 {
    width: 60px;
  }

  .skill_box ul {
    display: block;
  }

  .skill_box ul li {
    width: 100%;
    text-align: center;
  }

  .skill_box p {
    font-size: 14px;
    margin-top: 18px;
  }

  /*works*/
  .works_box ul {
    display: block;
  }

  .works_box ul li {
    width: 100%;
    margin-top: 50px;
  }

  .skill_box ul li :nth-child(odd) {
    margin: 0;
  }

  .works_box img {
    margin-top: 30px;
  }

  .works_box p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }

  /*contact*/
  .contact_form {
    padding: 0 40px;
    margin-top: 70px;
    text-align: center;
  }

  /*pagetop*/
  .pagetop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 100px;
  }
}
